.container {
  position: relative; /* Importante para estabelecer um contexto de empilhamento */
  width: 100%;
  height: 100%;
}

.image {
  position: absolute; /* Posicione a imagem absolutamente em relação ao elemento pai */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa 100% da largura do elemento pai */
  height: 50vh; /* Ocupa 100% da altura do elemento pai */
  z-index: -1; /* Define a ordem de empilhamento para trás do texto */
}
